

.container
{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 100vh; */
    /* border: 2px solid black; */

    
}
h1{
   
    text-align: center;
}
.button
{
    display: flex;
    justify-content: center;
}
#searchName
{
    width: 50%;
    margin: auto;


}
.btn
{
    width: 10%;
}
.card
{

    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border: none;
}
.card img
{
    height: 100%;
    width: 100%;
}
